* {
  box-sizing: border-box;
}


.imgPreview {
  max-width: 400px;
  max-height: 400px;
}

/* .img-test {
  max-width: 100%;
  max-height: 50px;
} */

.card-img-top {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  /* max-width: 100%;
  max-height: 200px; */
}

.thumbnail {
  background-size: cover;
}

.createBox {
  gap: 24px;
}

.left {
  height: 400px;
  display: block;
  width: 50%;
  background-color: green;
  overflow-y: scroll;
}
.right {
  height: 500px;
  overflow-y: scroll;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.gallery-title {
  padding-left: 20px;
}

.album {
  background-color: #ddd; /* This makes the square visible */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  position: relative; /* For absolute positioning of elements inside */
}

.album-info {
  text-align: center;
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.album-title {
  margin: 0;
  color: black;
}

.user-info {
  margin: 0;
}


.like {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: -10px;
  left: -10px;
}

.btn-like:hover {
  --bs-btn-border-color: none;
}

.btn-tag {
  color: white;
  background-color: purple;
  border-color: purple;
  --bs-btn-bg: purple;
}

.btn-tag:hover {
  background-color: rgb(150, 3, 150);
  border-color: purple;
  --bs-btn-active-bg: rgb(150, 3, 150);
  --bs-btn-active-color: white;
  color: white;
}

.tag {
  display: inline-block;
  background-color: purple;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
}

.createTags {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  gap: 8px;
}

.albumTags {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 8px;
  margin-bottom: 20px;
}

.homeCardTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}