* {
  box-sizing: border-box;
}


.imgPreview {
  max-width: 400px;
  max-height: 400px;
}

.img-test {
  max-width: 200px;
  max-height: auto;
}

.createBox {
  gap: 24px;
}

.left {
  height: 400px;
  display: block;
  width: 50%;
  background-color: green;
  overflow-y: scroll;
}
.right {
  height: 600px;
  overflow-y: scroll;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}